body {
  font-family: Arial, sans-serif;
  background-color: #c6c6c1;
  margin: 0;
  padding: 20px;
  color: #333;
}

header {
  background-color: #f6ad75;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

section {
  margin-top: 20px;
  padding: 15px;
  background-color: #aaebab;
  border: 1px solid #99ccff;
  border-radius: 8px;
}

img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6e58dd;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #dc6bb4;
}
